# This file inherits from the root requirements file and can add its own.
-r ../requirements.txt

# Add any dependencies specific to the main class notes here.

# This file specifies the Python dependencies for the project.
# The GitHub Actions workflow will automatically install these packages.
# Add any packages your code needs, for example:
# numpy
# pandas
# matplotlib
# scikit-learn

# Required for Quarto to execute Python code cells
jupyter
pyyaml 